
{% extends "bootstrap/base.html" %}

{% block title %}Flasky{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Flasky</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">内容</th>
        </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <th scope="col">标题</th>
                <td >{{ message.get('title') }}</td>
            </tr>
            <tr>
                <th scope="col">分析:</th>
                <td>{{ message.get('"analyze"') }}</td>
            </tr>
            {% for answer in message.get('options') %}
            <tr>
                <th scope="col">选项:</th>
                <td>{{ answer }}</td>
            </tr>
            {% endfor %}
        {% endfor %}
        </tbody>

    </table>
    <p></p>

    </div>
</div>

{% endblock %}